p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
}

.card{
    height: 283px;
    width: 278px;
    background-color: #D4D4D4;
    border-radius: 24px;
    margin-bottom: 49px;
    border: 4px solid;
    box-shadow: 2px 2px #ececec;
    transition: 0.5s ease;
    cursor: pointer;

    .card-header {
        text-align: center;

        .type {
            height: 18px;
            width: 278px;
            background-color: #666666;
            border-radius: 24px 24px 0px 0px;

            p {
                color: #ffffff;
            }
        }
        .headline {
            height: 52px;
            width: 278px;
            background-color: #C4C4C4;
            
            p {
                line-height: 3.5;
            }
        }
    }

    .card-body {
        height: 213px;

        .front {
            height: 100%;
            border-radius: 0px 0px 24px 24px;
            background-position: center;
            // filter: grayscale(58%);
            animation: cardFrontSlideReverse 1s;
            animation-fill-mode: forwards;
        }

        .back {
            height: 100%;
            display: none;
            animation: cardBackSlideReverse 1s;
            animation-fill-mode: forwards;

            p {
                text-align: center;
                font-weight: normal;
                padding-left: 14px;
                padding-right: 14px;
                margin-top: 20px;
                animation: cardBackSlideReverse 1s;
                animation-fill-mode: forwards;
            }
        }
    }
}

.card:hover {

    // transform: scale(1.2);
    transform: scale(1.1);

    .card-body {

        .front {
            animation: cardFrontSlide 1s;
            animation-fill-mode: forwards;
        }

        .back {
            display: inline !important;
            animation: cardBackSlide 1s;
            animation-fill-mode: forwards;

            p {
                animation: cardBackSlide 1s;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes cardFrontSlide {
    0% {
        height: 100%;
     }
     30% {
        height: 80%;
     }
     100% {
         height: 0%;
     }
}

@keyframes cardBackSlide {
    0% {
        height: 0%;
        clip-path: inset(40px 40px 40px 40px);
        opacity: 0;
     }
     30% {
        height: 10%;
        clip-path: inset(100px 50px 50px 80px);
        opacity: 0;
     }
     45% {
        clip-path: inset(100px 50px 50px 80px);
        opacity: 0.3;
     }
     50% {
        opacity: 0.5;
     }
     100% {
         height: 100%;
         opacity: 1;
     }
}

@keyframes cardFrontSlideReverse {
    0% {
        height: 0%;
     }
     30% {
        height: 80%;
     }
     100% {
         height: 100%;
     }
}

@keyframes cardBackSlideReverse {
    0% {
        height: 100%;
        opacity: 1;
     }
     30% {
        opacity: 0.5;
     }
     45% {
        clip-path: inset(100px 50px 50px 80px);
        opacity: 0.3;
     }
     50% {
        clip-path: inset(100px 50px 50px 80px);
        height: 10%;
        opacity: 0;
     }
     100% {
         height: 0%;
         opacity: 0;
         clip-path: inset(40px 40px 40px 40px);
     }
}