/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    // background-color: #3B3B3B;
    background-color: #424242eb;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    // max-width: 1140px;
    width: 1247px;
    margin: 0 auto;
    // padding: 80px;
    // background-color: green;
}