.featured {
    width: 1247px;
    height: 256px;
    background: #C4C4C4;
    border-radius: 24px;

    background-image: url("https://pbs.twimg.com/profile_banners/1044939019119996931/1568681996/1500x500");
    background-position: center;
    // filter: grayscale(58%);

    h1 {
        margin: 0;
        text-align: center;
        color: #ffffff;
        line-height: 250px;
        text-shadow: 1px 1px 1px rgb(122, 122, 122), 1px 1px 1px white;
    }
}

.card-container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.searchbar {
    margin: 0 auto;
    margin-top: 39px;
    margin-bottom: 39px;
    width: 1247px;
    height: 69px;
    // background: #C4C4C4;
    background: #d9dad7;
    border-radius: 24px;

    input {
        background-color: transparent;
        border: none;
        height: 38px;
        font-size: 36px;
        color: #000000;
        font-weight: 700;
        width: 1000px;
        margin-top: 14px;
        margin-left: 58px;
    }

    input:focus, input:focus-within, input:active {
        outline: none;
    }


    i {
        font-size: 46px;
        margin-top: 12px;
        margin-left: 14px;
        color: #00000054;
        font-weight: bold;
    }

    form {
        display: inline-flex;
    }
}